<p>Copyright 2016 | Studio in the Cloud</p>

<!-- SCRIPTS -->

<!-- JQuery -->
<%= javascript_include_tag "jquery-2.2.3", media: "all" %>
<%= javascript_include_tag "tether", media: "all" %>
<%= javascript_include_tag "bootstrap", media: "all" %>
<%= javascript_include_tag "mdb", media: "all" %>
